@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500&display=swap");

.nav-container {
  border-bottom: 1px solid rgba(245, 243, 243, 0.2);
  margin: 0 1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* width: 30%; */
}
.navigation-listitem {
  margin-right: 20px;
}
.navigation-link {
  list-style: none;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  letter-spacing: 1.1;
}

.navigation-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navigation-link:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.navigation-link::before,
.navigation-link::after {
  content: "";
  left: 0;
  position: absolute;
  background-color: currentColor;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
}
.navigation-link::after {
  bottom: 0;
  transform-origin: left;
}
.navigation-link::before {
  top: 0;
  transform-origin: right;
}

.icons {
  stroke: #fff;
  width: 24px;
  height: 24px;
}

.leftnavcontainer {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkclass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.linkspan {
  padding-left: 4px;
}
